{{define "main"}}
<br>
    <h2 class="post-title"><a class="go-back" href="{{ .Site.BaseURL }}">
	<i class="far fa-caret-square-left"></i> </a>{{.Title}}</h2>
        <!-- List all tags -->
        {{if eq .Kind "taxonomyTerm"}}
          {{range $key, $value := .Data.Terms.Alphabetical}}
            <span><a style="color: white; text-decoration: none;" href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'>{{ $value.Name }} ({{.Count }})</a></span>
          {{end}}
        {{else}}
          {{ range .Pages}}
            <div class="post-item">
              {{if eq .Section "post"}}
                <well class="well">
                    <h3><a class="link" href="{{.Permalink}}">{{.Title}}</a></h3>
                    <h4>{{ .PublishDate.Format "January 2, 2006" }} | Reading Time: {{.ReadingTime}} min </h4>
                    <span class="tags">
                        {{range .Params.Tags }}
                        <h5><a class="tag" href='{{ "tags/" | absURL }}{{.}}'>{{.}}</a></h5>
                        {{end}}
                    </span>
                    <p>{{ .Summary }}</p>
                </well>
                {{end}}            
            </div><br>
          {{end}}
        {{end}}
{{end}}
