<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ if .IsHome}}
        <title>{{.Site.Title}}</title>
        <meta name="description" content="{{ .Site.Params.main.description  }}" >
        <meta property="og:description" content="{{ .Site.Params.main.description }}"/>
    {{else}}
        <title>{{.Title}} | {{.Site.Title}}</title>
        <meta name="description" content="{{.Title}}">
        <meta property="og:site_name" content="{{ .Title }}" />
        <meta property="og:title" content="{{ .Site.Title }}" />
        <meta property="og:description" content="{{ .Site.Params.main.description }}"/>
        <meta property="og:image" content="{{ .Site.Params.main.img | absURL }}" />
    {{end}}
    {{ if .Site.Params.main.enableKatex }}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {{end}}
    <meta name="keywords" content="{{ .Site.Params.main.metaKeywords }}">
    <link rel="icon" type="image/svg" href='{{ .Site.Params.main.icon | absURL }}'/>
    <meta name="author" content='{{ .Site.Params.main.name }}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{hugo.Generator}}
    {{ $style := resources.Get "/sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" media="screen" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <!-- RSS -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>

