{{define "main"}}
<div class="intro" style="align-items: center">
  {{if .Site.Params.main.enabled }}
  <img class="image" src='{{ .Site.Params.main.img | relURL }}' title="Simon Apollo Weiss. Nice to meet ya!" width="280"/>
  <ul>
    <li class="intro-quote">
      <span class="intro-quote-left">{{ .Site.Params.main.quote_left }}</span>
      <span class="intro-quote-right">{{ .Site.Params.main.quote_right }}</span>
    </li>
  </ul>
  {{end}}
  <p>{{ .Site.Params.main.description }}</p>
</div>
{{ partial "menu.html" . }}
{{end}}
